<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= fin.firstname %> <%= fin.lastname %></h1>
    <h1><%= fin.phoneno %></h1>
  </body>
</html>
